<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8"/>
		<meta id="meta" name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/branding.css"/>
		<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/michardy/grid-ui@v2.0.0-alpha/css/grid_window.css">
		<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/michardy/grid-ui@v2.0.0-alpha/css/basic.css">
		<link rel="stylesheet" href="css/basic.css"/>
		<!--Please wait while I sacrafice a newborn goat to IE/Edge. (Edit: It still does not work)-->
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<title>Error | Sources Bot</title>
	</head>
	<body class="article-page">
		<header>
			<h1><a href="/">Sources Bot</a></h1>
			<a class="navbar" href="/about.html">About</a>&nbsp;
			<a class="navbar" href="https://github.com/michardy/sources-bot">Code</a>&nbsp;
			<a class="navbar" href="https://reddit.com/r/sourcesbot">Subreddit</a>&nbsp;
			<a class="navbar" href="https://reddit.com/u/sourcesbot">Reddit Bot</a>&nbsp;
		</header>
		<main>
			<h2>{{ code }}</h2>
			<p>{{ reason }}</p>
		</main>
		<footer>
			<div>
				&copy; 2018 Michael Hardy
			</div>
		</footer>
	</body>
</html>
