.debug-info {
	/* Nothing that really needs to be hidden
	 * But the average viewer doesn't need to see it
	 * Displayed using userstyle
	 */
	position: absolute;
	right: 5px;
	display: none;
}

#trending-content {
	text-align: center;
}
