body {
	overflow-x: hidden;
	display: grid;
	width:100%;
	grid-template-columns: repeat(4, 24.7%);
	grid-auto-rows: minmax(100px, auto);
	background-color: #EFE9D0;
	color: #712E32;
}

header {
	grid-column: 1 / 5;
	grid-row: 1;
	padding-bottom:15px;
	padding-left: 1%;
	background-color: #712E32;
}

header h1 a {
	text-decoration:none;
	color: #EF8A20;
}

@media (min-aspect-ratio: 4/3) {
	main.text {
		grid-column: 2 / 4;
		grid-row:2;
	}
}

@media (max-aspect-ratio: 4/3) {
	main.text {
		grid-column: 1 / 4;
		grid-row:2;
	}
}

@media (min-aspect-ratio: 4/3) {
	main.results {
		grid-column: 2 / 4;
		grid-row: 4;
	}
}

@media (max-aspect-ratio: 4/3) {
	main.results {
		grid-column: 1 / 4;
		grid-row: 4;
	}
}

main.search {
	position: relative;
	grid-column: 1 / 5;
	grid-row: 3;
	text-align: center;
	min-width: 50%;
}

#searchform {
	position: absolute;
	min-width: 50%;
	right: 50%;
	transform: translate(50%)
}

footer {
	grid-column: 1 / 5;
	grid-row: 7;
	text-align: center;
	color: #A56356;
}

.navbar {
	display:inline;
	color: #EFE9D0;
}

.fatradio-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	size: 0px;
}

.fatradio-button+label {
	border: 1px solid #712E32;
	background-color: #A56356;
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
	color: #EFE9D0;
}

#tabbar {
	white-space: nowrap;
	z-index: 2;
}

.fatradio-button:checked+label {
	border-top: 1px solid #712E32;
	border-left: 1px solid #712E32;
	border-right: 1px solid #712E32;
	border-bottom: 1px solid #D5A16E;
	background-color: #D5A16E;
	color: #712E32
}

#searcharea {
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #712E32;
	z-index: 1;
	background-color: #D5A16E;
}

#searcharea button {
	background-color: #EF8A20;
	border: none;
	padding: 1%;
}

#searchbox {
	width: 75%;
	background-color: #EFE9D0;
	border: 1px solid #D5A16E;
	padding: 1%;
	color: #712E32;
}

.taglist li a {
	text-decoration: none;
	border: 1px solid #D5A16E;
	background-color: #EF8A20;
	line-height: 40px;
	margin: 5px;
	padding: 5px;
	color: #EFE9D0;
}

#histogram {
	grid-column: 1 / 5;
	grid-row: 2 / 4;
	height: 100%;
}

@media (min-aspect-ratio: 4/3) {
	#histogram {
		width: 75%;
		transform: translate(12.5%);
	}
}

@media (max-aspect-ratio: 4/3) {
	#histogram {
		width: 96%;
	}
}

#trending {
	grid-column: 1 / 5;
	grid-row: 5;
	width: 100%;
	border: none;
}
