body {
	overflow-x: hidden;
	display: grid;
	width:100%;
	grid-template-columns: repeat(4, 24.7%);
	grid-auto-rows: minmax(100px, auto);
}

header {
	grid-column: 1 / 4;
	grid-row: 1;
	padding-bottom:15px;
}

header h1 a {
	text-decoration:none;
}

main.text {
	grid-column: 2 / 4;
	grid-row:2;
}

main.search {
	position: relative;
	grid-column: 1 / 5;
	grid-row: 3;
	text-align: center;
	min-width: 50%;
}

#searchform {
	position: absolute;
	min-width: 50%;
	right: 50%;
	transform: translate(50%)
}

footer {
	grid-column: 1 / 5;
	grid-row: 6;
	text-align: center;
}

.navbar {
	display:inline;
}

h1 {
	font-family: monospace;
}

h2, h3, h4, h5, h6 {
	font-family:sans-serif;
}

pre {
	background-color: #eee;
}

table {
	border: 1px solid black;
}

td {
	border: 1px solid black;
}

.outer {
	border: 2px solid black;
}

.fatradio-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	size: 0px;
}

.fatradio-button+label {
	border: 1px solid black;
	background-color: lightgray;
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
}

#tabbar {
	white-space: nowrap;
	z-index: 2;
}

.fatradio-button:checked+label {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid white;
	background-color: white;
}

#searcharea {
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid black;
	z-index: 1;
}

#searchbox {
	width: 75%;
}

.article {
	border: 1px solid grey;
	padding-left: 10px;
	padding-bottom: 10px;
}

li.article {
	list-style-type: none;
}

.spoiler-content {
	display: none;
}

.spoiler-title{
	cursor: pointer;
}

.spoiler-title::before {
	content: "▶ ";
}

.spoiler-button:checked+label .spoiler-title::before {
	content: "▼ ";
}

.spoiler-button:checked+label+div {
	display: block;
}

.spoiler-button {
	display: none;
}

.taglist li {
	list-style-type: none;
	display: inline;
}

.taglist li a {
	text-decoration: none;
	border: 1px solid lightgray;
	background-color: lightblue;
	padding: 5px;
}
